/* Main Category Display */
main {
    position: absolute;
    top: 7rem;
    left: 2.5rem;
}

h1 {
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;
}

/* Items Section */
.items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.items-wrapper

/* Item */
.item {
    padding: 1rem;
    flex: 0 0 25%;
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    margin-left: 2rem;
    margin-bottom: 4.5rem;

}

a {
    text-decoration: none;
    font-size: unset;
    color: unset;
}

.item-image {
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0rem;
    text-transform: capitalize;

}

.price-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
    margin-top: 0rem;
}