/* Main Category Display */
/* .category-display{
    display: block;
    width: 100%;
} */

main {
    position: absolute;
    top: 7rem;
    left: 2.5rem;
}

h1 {
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;

}

/* Items Section */
.items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.items-wrapper > * {
     flex: 1 1 30%;
}

/* Item */
.item {
    padding: 1rem;
}

.item-image {
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0rem;

}

.price-label {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
    margin-top: 0rem;
}